.footer {
    background-color: blueviolet;
}
body {
    color: white;
    background-color: plum;
}
button {
    text-decoration: none;
    background-color: green;
    width: 100px;
    height: 30px;
    margin-left: 330px;
}
p,
h1{
    text-align: center;
}
