<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   
{{#each allUsers}}
    <h2>Name: {{this.name}}</h2>
    <h2>Password: {{this.password}}</h2>
    <h2>age: {{this.age}}</h2>
    <hr>
{{/each}}

</body>
</html>