doctype html 
html
    head
        style 
            include style.css
    body 
        div 
            | From Inoxoft company 
        div 
            block content
        div.footer 
            | best regards
            br
            | More information thre
            a(href = frontend_url) Inoxoft corse Node.js