extends container
block content 
    div#conteiner
        h1 
            | HELO DEAR #{user_name}
        p   
            | Yuor acount was delated
        p   
            | #{curent_user_role} #{curent_user_name} deleted your acount 
