extends container
block content 
    div#conteiner
        h1 
            | HELO DEAR #{user_name}
        p   
            | Congratulier!
        p   
            | #{curent_user_role} #{curent_user_name} make you admin!
